[submodule "assets/js/reveal.js"]
	path = assets/js/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/js/MathJax"]
	path = assets/js/MathJax
	url = https://github.com/mathjax/MathJax.git
