<div id="{{ include.tag }}-accordion"
     class="panel panel-default" role="tablist" aria-multiselectable="true">
  <div id="{{ include.tag }}-heading"
       class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button"
         data-toggle="collapse"
         data-parent="#{{ include.tag }}-accordion"
         href="#{{ include.tag }}-collapse">
        Example: {{ include.title }}
      </a>
    </h4>
  </div>
  <div id="{{ include.tag }}-collapse"
       class="panel-collapse collapse"
       role="tabpanel"
       aria-labelledby="{{ include.tag }}-heading">
    <div class="panel-body">
      {% capture contents %}{% include_relative examples/{{ include.file }}.md %}{% endcapture %}
      {{ contents | markdownify }}
    </div>
  </div>
</div>
