<script type="text/javascript">
$(document).ready(function() {
  // Initialize template
  var toc =
    '<nav role="navigation" class="table-of-contents">' +
    '<h4>Table of contents:</h4>';

  // Popolate items array
  items = [];
  $('#content h1,#content h2,#content h3').each(function() {
    items.push({
      level: this.nodeName.match(/[\d]/)[0] - 1,
      link: this.id,
      title: $(this).text()
    });
  });

  // Create lines
  var item;
  for (var i = 0; i < items.length; ++i) {
    item = items[i];
    if (i == 0 || item.level > items[i-1].level) {
      toc += '<ol type="' + ['1','a','i'][item.level] + '">';
    }
    if (i > 0) {
      for (var j = items[i-1].level; j > item.level; --j) {
        toc += '</ol>';
      }
    }
    toc += '<li><a href="#' + item.link + '">' + item.title + '</a></li>';
  }

  // Close template
  toc +=
    '</ol>' +
    '</nav>' +
    '<hr/>';

  // Add to page
  $('#content').before(toc);
});
</script>
