.borderless * {
  border: none !important;
}

.reveal section img.no-style {
  background:none; border:none; box-shadow:none;
}

code, pre, kbd {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-size: 0.9em;
}

kbd {
  color: white;
  //background: $color-a;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 2px;
}
