body {
	font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
	font-size: 1.53125rem;
}

h4 {
	font-size: 1.3125rem;
}

hr {
  width: 100%;
}

.navbar {
  margin-bottom: 16px;
}

.header {
  margin-bottom: 16px;
}

.content-header {
  padding-left: 48px;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .header {
    position: sticky;
    top: 16px;
    width: 300px;
    float: right;
  }

  .content {
    width: 600px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 780px;
  }
}

.footer {
  padding-bottom: 16px;
}

.checklist {
  padding-left: 48px;
}

.checklist-header {
  margin-bottom: 8px;
  font-weight: normal;
}

.checklist-header a {
  width: 34px;
  margin-right: 8px;
}

.checklist ul {
  margin-left: -42px;
  padding-left: 24px;
  list-style-type: none;
}

.checklist div {
  margin: 10px 0;
}

.checklist label {
  padding-left: 24px;
  margin: 0;
  cursor: pointer;
}

.checklist input {
  position: absolute;
  margin: 6px 0 0 -24px;
}
