body {
	padding-top: 1rem;
	font-size: 0.875rem;
}

h3 {
	font-size: 1.53125rem;
}

h4 {
	font-size: 1.3125rem;
}

.checklist-header .btn {
  width: 34px;
  margin-right: 8px;
}

.checklist {
  padding-left: 0;
}

.checklist ul {
  padding-left: 24px;
  list-style-type: none;
}

.checklist div {
  margin: 10px 0;
}

.checklist label {
  padding-left: 24px;
  margin: 0;
  cursor: pointer;
}

.checklist input {
  position: absolute;
  margin: 4px 0 0 -24px;
}

