p {
  margin: 0;
}

#content {
}

#header {
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  #header {
    position: sticky;
    top: 2rem;
    width: 300px;
    float: right;
  }

  #content {
    width: 600px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  #content {
    width: 780px;
  }
}
