* {
  margin: 0;
  padding: 0;
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-size: 10pt;
  /*color: white;*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 10pt;
  font-weight: bold;
}

body {
  width: 100%;
  overflow: hidden;
}

body * {
  margin: 2px 0;
}

select {
  width: 100%;
}

textarea {
  padding: 0 2px;
}

button {
  width: 100%;
}

.btn {
  display: block;
}

pre, textarea, code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

canvas {
  margin: 0;
  display: flex;
}

#vertices {
  width: 100px;
  resize: both;
}

#data {
  resize: none;
}

#left-controls, #right-controls, #nav, #toggle-controls {
  position: fixed;
}

#left-controls, #right-controls {
  margin: 2px 8px;
  top: 0;
  bottom: 24px;
  overflow-y: auto;
}

#left-controls {
  left: 0;
}

#right-controls {
  right: 10px;
}

#nav, #toggle-controls {
  bottom: 0;
  height: 24px;
  margin: 4px 12px;
  text-align: center;
}

#nav {
  left: 0;
  right: 0;
}

#toggle-controls {
  right: 0;
  cursor: pointer;
}

@media (max-width: 720px) {
  #nav {
    right: unset;
  }
}

