* {
  margin: 0;
  padding: 0;
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-size: 10pt;
}

body {
  width: 100%;
}

body * {
  margin: 2px 0;
}

select {
  width: 100%;
}

textarea {
  padding: 0 2px;
}

button {
  display: inherit;
  width: 100%;
}

canvas {
  margin: 0;
  display: flex;
}

#left-controls, #right-controls {
  position: fixed;
  margin: 0;
  top: 10px;
}

#left-controls {
  left: 10px;
}

#right-controls {
  right: 10px;
}

#vertices {
  width: 100px;
}

#data {
  width: 160px;
  resize: none;
}

