<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>
  <div>
    <h2 id="site-title">
      {{ site.title }}
      <small>
        <a href="{{ '/' | relative_url }}">home</a> /
        <a href="https://github.com/{{ site.github_username }}">github</a>
      </small>
    </h2>
  </div>
  <article>
    {% if page.title %}
    <title id="page-title">{{ page.title }}</title>
    <hr/>
    {% endif %}
    <div id="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </article>
</body>
</html>

