---
---
{% assign reveal="/assets/js/reveal.js" | absolute_url %}
<!doctype html>
<html>
  <head>
    {% include head-general.html %}
    <link rel="stylesheet" href="{{ reveal }}/css/reveal.css">
    <link rel="stylesheet" href="{{ reveal }}/css/theme/black.css" id="theme">
  </head>
<style>
.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}
</style>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown
           data-separator="^---"
           data-separator-vertical="^--">
          <script type="text/template">
            {{ page.content }}
          </script>
        </section>
      </div>
    </div>
    <script src="{{ reveal }}/lib/js/head.min.js"></script>
    <script src="{{ reveal }}/js/reveal.js"></script>
    <script>
      Reveal.initialize({
        dependencies: [
          { src: "{{ reveal }}lib/js/classList.js",
            condition: function() { return !document.body.classList; }},
          { src: "{{ reveal }}/plugin/markdown/marked.js",
            condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: "{{ reveal }}/plugin/markdown/markdown.js",
            condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: "{{ reveal }}/plugin/zoom-js/zoom.js", async: true },
          { src: "{{ reveal }}/plugin/notes/notes.js", async: true }
      ]
      });
    </script>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
