---
layout: null
key-lists: [customs, factory, shoreline, woods]
---
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!--<link rel="stylesheet" href="css/tarkovish.css">-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Tarkov Checklists</title>
  </head>
  <body>
    <nav id="main-navbar" class="navbar bg-light">
      <span class="navbar-brand"><a href="{{ site.url }}">nils</a> / Tarkov Checklists</span>
    </nav>
    <div id="keys" class="container">
      <div class="header">
        <div id="legend" class="card" style="width: 100%;">
          <div class="card-body">
            <h3 class="card-title">Legend</h3>
            <span class="badge badge-primary">Key</span>
            Unlocks an area that is important beyond loot.
            <hr>
            <span class="badge badge-secondary">Key</span>
            Unlocks an area that contains average loot compared to nearby areas.
            <hr>
            <span class="badge badge-success">Key</span>
            Unlocks an area that contains above-average loot compared to nearby areas.
            <hr>
            <span class="badge badge-info">Key</span>
            Unlocks an area that is required for a quest.
          </div>
        </div>
      </div>
      <div class="content">
        <h4>General information:</h4>
        <ul>
          <li>Most keys besides Shorline keys can spawn in the backpacks of scavs, even rare keys like the Factory Key.</li>
        </ul>
        <h4>Key lists:</h4>
        <div id="checklists" class="left">
          {% for list in page.key-lists %}
          <h3 id="{{ list }}-keys-header" data-target="{{ list }}-keys" class="checklist-header">
            {{ list | capitalize }}
          </h3>
          <div id="{{ list }}-keys" class="checklist collapse in">
            {% capture list-html %}{% include_relative key-lists/{{ list }}.md %}{% endcapture %}
            {{ list-html | markdownify }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div id="todo" class="content">
        <span class="badge badge-warning">Todo</span>
        <ul>
          <li>Finish categorizing key badges (
            <span class="badge badge-primary">important</span> /
            <span class="badge badge-secondary">average</span> /
            <span class="badge badge-success">above-average</span> /
            <span class="badge badge-info">quest</span> )
          </li>
          <li>Add links to wiki pages screenshots</li>
          <li>Verify all key information (I know that some keys have been correctly labeled since patches)</li>
          <li>Add some local screenshots</li>
        </ul>
      </div>
      <ul id="footer" class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="https://github.com/SweedJesus">Me</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/SweedJesus/sweedjesus.github.io/tree/master/pages/vidya/tarkov">Repo</a></li>
        <li class="nav-item"><a class="nav-link" href="https://forums.uwsgaming.com/topic/3871-map-keys-and-you/">Source</a></li>
        <li class="nav-item"><a class="nav-link" href="http://zkjellberg.github.io/dark-souls-3-cheat-sheet/">Inspired by</a></li>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/andris9/jStorage/v0.4.12/jstorage.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
