body {
  margin: 0;
  padding: 0;
}
#generators {
  display: inline-block;
  position: fixed;
}
#problem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-align: center;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
  text-align: center;
  font-family: 'Droid Serif', serif;
}
