body {
  margin: 0;
  padding: 0;
}
#problem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 4em;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;

  color: #b3b3b3;
  font-size: 3em;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
